
<head>
    <link rel="stylesheet" type="text/css" href="returnData.css">
</head>

<div class="container">
    <span><%-data.key%></span>
    <span id="span-2"><%-data.value%></span>

    <br>

    <button> <a href="/">go back</a> </button>
</div>